.screen-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 40px;
  background-color: white;
  padding: var(--horizontal-space);
  box-sizing: border-box;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.screen-header__icons i {
  margin-left: 20px;
}
.screen-header__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  right: -6px;
  top: -8px;
}
